.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.address a {
  position: relative;
  text-decoration: none;
}

.header__address {
  justify-self: end;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 131px;
  height: 1px;
  background-color: currentColor;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url('../images/lotus-flower.png');
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  margin: 0 auto;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 106px;
}

.cover__title-word {
  display: block;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-word_aligned-text_left {
  align-self: flex-start;
}

.cover__title-word_aligned-text_center {
  align-self: center;
  text-align: center;
  margin-right: -30px;
}

.cover__title-word_aligned-text_right {
  align-self: flex-end;
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 12px 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lots {
  width: 1052px;
  margin: 180px auto 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-shrink: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_film {
  background-image: url('../images/photo.png');
}

.card_type_book {
  background-image: url('../images/photo1.png');
}

.card_type_picture {
  background-image: url('../images/photo2.png');
}

.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.about {
  width: 1052px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 0;
  margin: 0 auto 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  align-self: start;
  padding-left: 47px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 100px;
}

.about__text {
  width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px;
  margin: 0 auto;
}

.footer .address {
  justify-self: start;
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .address a {
  position: relative;
}

.footer .address a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 131px;
  height: 1px;
  background-color: currentColor;
}

.footer .address p {
  width: 261px;
}

.footer__menu {
  justify-self: center;
  width: 164px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
